
    <!-- <ion-header translucent>
      <ion-toolbar>
        <ion-title>Create Account</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <ion-header>
     

      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>

        <ion-title class="one">Step 1</ion-title>
      </ion-toolbar>
    </ion-header>



    <ion-content fullscreen>

      <div style="padding: 20px;">
        <img src="assets/image/vote8.png" height="300px" width="500px" />
      </div>



      <form (submit)="processForm($event)">
   
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label class="font-size-one" position="stacked"> National ID Number (NIC) : <ion-text color="danger" autofocus = "true">*</ion-text></ion-label>
            <ion-label class="font-size-one" position="stacked"> ජාතික හැඳුනුම්පත් අංකය : <ion-text color="danger" autofocus = "true">*</ion-text></ion-label>
            <br /><br />
            <ion-input class="font-size-one" name="userid" required type="text" #inn [(ngModel)]="form1.userid" (input)="handleFirstNameValue($event)" autofocus = "true" placeholder="00000000000V"></ion-input>
          </ion-item>
          <ion-label class="input-invalid">  Invalid! අවලංගු අංකයකි!</ion-label>
         
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Next</ion-button>
        </div>
      </form>

      <ion-button routerLink="/otpenter-page">Next</ion-button>
    </ion-content>
    <!-- <ion-alert-controller></ion-alert-controller> -->





    <!-- Move this Part to the ts file -->
  <script>
    const controller = document.querySelector('ion-alert-controller');
    let firstName, lastName;
    function processForm(event) {
      event.preventDefault();
      controller.create({
        header: 'Account Created',
        message: `Created account for: <b>${firstName} ${lastName}</b>`,
        buttons: [{
          text: 'OK'
        }]
      }).then(alert => alert.present());
    }
    function handleFirstNameValue(event) {
      firstName = event.target.value;
    }
    function handleLastNameValue(event) {
      lastName = event.target.value;
    }
  </script>
