
<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>


    <ion-title class="one">Step 2</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content fullscreen>


<br><br>
<div style="padding-left:20px; padding-right: 20px; margin-top:20%;"> 
  <h4 class="topic" style="margin-bottom: 0px;">Please, Enter the OTP Received to Your Inbox .</h4>
  <h4 class="topic" style="margin-top:5px;">ඔබෙ දුරකථනයට ලැබෙන OTP අංකය ඇතුලු කරන්න .</h4>
</div>

<br /><br />
<div class="formboard">

<form class="form-container" style="padding-left: 20px; padding-right: 20px;" (submit)= "onSubmit()">

  
  <div>
 
    <ion-input name="a" #a (keypress)="moveFocus($event,b,'')" type="tel" placeholder="0"  [(ngModel)]="form1.a"
      maxlength="1">
    </ion-input>
  </div>

  <div>
    <ion-input name="b" #b (keypress)="moveFocus($event,c,a)" type="tel" placeholder="0" [(ngModel)]="form1.b"
      maxlength="1">
    </ion-input>
  </div>

  <div>
    <ion-input name="c"  #c (keypress)="moveFocus($event,d,b)" type="tel" placeholder="0" [(ngModel)]="form1.c"
      maxlength="1">
    </ion-input>
  </div>

  <div>
    <ion-input name="d"  #d (keypress)="moveFocus($event,e,c)" type="tel" placeholder="0" [(ngModel)]="form1.d"
      maxlength="1">
    </ion-input>
  </div>

  <div>
    <ion-input name="e"  #e (keypress)="moveFocus($event,f,d)" type="tel" placeholder="0" [(ngModel)]="form1.e"
      maxlength="1">
    </ion-input>
  </div>

  <div>
    <ion-input name="f"  #f  type="tel" placeholder="0" [(ngModel)]="form1.f"
      maxlength="1"></ion-input>
  </div>



  

</form>
</div>

<div class="ion-padding">
  <ion-button expand="block" type="submit" name="next" #next class="ion-no-margin" (click)= "onSubmit()" >Next</ion-button>
</div>

<div>
   {{ this.userid }}
</div>


</ion-content>
