<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="main-content" >
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->


  <!-- <div>
    <img src="assets/image/vote4.png" />
  </div> -->
  
  
  
    <ion-item *ngIf="showImage" style="padding-top: 200px;">
        <img src="assets/image/vote7.png" height="150px" width="650px"  ><br/>
       
        
   </ion-item>

    <ion-button (click)="gotoNext()" style="height: 20px; align:center;">Next</ion-button> 

   





 

  

</ion-content>
